*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --white: #ffffff
  --black: #000000
  --blue-200: #BAF3FF
  --blue-500: #40788F
}

body{
  background-color: #40788F;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  color: #ffffff;
  max-width: 100%;
}
a{
  text-decoration:none;
}
ul{
  list-style:none;
}
html{
  font-family: var(--font-roboto);
}